@font-face {
    font-family: 'Assistant';
    src: url('https://constant.myntassets.com/www/fonts/Assistant-Regular.eot');
    src: url('https://constant.myntassets.com/www/fonts/Assistant-Regular.eot?#iefix') format('embedded-opentype'), url('https://constant.myntassets.com/www/fonts/Assistant-Regular.woff') format('woff'), url('https://constant.myntassets.com/www/fonts/Assistant-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Assistant';
    src: url('https://constant.myntassets.com/www/fonts/Assistant-Bold.eot');
    src: url('https://constant.myntassets.com/www/fonts/Assistant-Bold.eot?#iefix') format('embedded-opentype'), url('https://constant.myntassets.com/www/fonts/Assistant-Bold.woff') format('woff'), url('https://constant.myntassets.com/www/fonts/Assistant-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}


* {
    font-family: 'Assistant';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #282c3f;
}

li,
a {

    text-decoration: none;
    list-style-type: none;
}

header.lg-header {

    z-index: 20;
    inset: 0;
    position: fixed;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);

    height: 80px;
    background-color: #fff;
}

div.lg-header-wrapper {
    z-index: 3;
    position: relative;
    background-color: #fff;
    line-height: 80px;
    min-width: 980px;
    margin: auto;
    /* box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05); */
    /* display: flex; */

}

div.lg-header-wrapper div.lg-logo-container {
    margin-left: 4%;
    /* margin-left: 2%; */
    height: inherit;
    line-height: 80px;
    vertical-align: middle;
    float: left;
}

div.lg-logo-container a.lg-logo {
    display: inline-block;
    vertical-align: middle;
    width: 53px;
    /* align-self: center; */
    height: 36px;
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-position: -462px 0;
    background-size: 1404px 105px;
    line-height: 80px;

}

div.lg-header-wrapper div.lg-left-nav {
    display: flex;
    margin: 0 0 0 1%;
    text-align: center;
    line-height: 80px;
    height: 80px;
    text-transform: uppercase;
    float: left;

}

div.lg-left-nav span.lg-text-wrapper a.lg-text {
    padding: 0 17px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    border-bottom: none;
    -webkit-transition: left .2s ease-out, width .2s ease-out;
    transition: left .2s ease-out, width .2s ease-out;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
}

span.lg-text-wrapper span.lg-hover-container {
    margin: 0 0 34px -15px;
    display: inline;
    font-weight: 600;
    font-size: 10px;
    text-align: left;
    line-height: normal;
    letter-spacing: normal;
    color: #ff3f6c;
}

span.lg-hover-container span.lg-hover-text {
    top: -.4rem;
    font-size: 100%;
    line-height: 0;
    position: relative;
    text-align: left;
    vertical-align: baseline;
    text-transform: uppercase;
    left: -1.4px;
    color: #ff3f6c;
}



div.lg-header-wrapper div.lg-nav-middle {
    width: 320px;
    margin-right: 8px;
    margin: 20px 8px 20px 40px;
    line-height: 0;
    position: relative;
    float: right;
    /* display: flex; */
}




div.lg-nav-middle input {
    display: inline-block;
    height: 20px;
    line-height: 24px;
    color: #696e79;
    outline: 0;
    background: #f5f5f6;
    padding: 8px 10px 10px;
    border: 1px solid #f5f5f6;
    border-radius: 0 4px 4px 0;
    border-left: 0;
    width: 95%;
    font-size: 14px;
    box-sizing: content-box;
}

div.lg-nav-middle a.lg-search-icon-wrapper {
    box-sizing: content-box;
    display: inline-block;
    height: 28px;
    width: 40px;
    text-align: center;
    padding: 8px 0 2px;
    background: #f5f5f6;
    border: 1px solid #f5f5f6;
    border-right: none;
    border-radius: 4px 0 0 4px;
    position: absolute;
    left: -41px;
}

a.lg-search-icon-wrapper span.lg-search-icon {
    width: 21px;
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    height: 21px;
    background-position: -754px 0;
    display: inline-block;
    background-size: 1404px 105px;
    transform: scale(0.7);
}

div.lg-header-wrapper div.lg-nav-right {
    margin: 20px 0 0 10px;
    display: flex;
    height: 40px;
    line-height: 0px;
    float: right;
}

div.lg-nav-right div.lg-profile-container {
    position: relative;
    height: 60px;
    margin: 0 20px 0 15px;
    /* display: flex; */

}

div.lg-profile-container div.lg-profile-wrapper {
    padding: 0 12px 0 17px;
    position: relative;
    display: flex;
    height: 40px;
}

div.lg-profile-wrapper span.lg-profile-icon {
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    width: 24px;
    height: 24px;
    background-position: -298px -56px;
    margin: 10px 0 0;
    position: absolute;
    bottom: 13px;
    left: 5px;
    display: inline-block;
}

div.lg-profile-wrapper span.lg-profile-text {

    color: #000;
    position: absolute;
    bottom: 4px;
    left: 1px;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    padding-top: 10px;
    line-height: 6px;
}


div.lg-nav-right a.lg-wishlist-container {
    margin: 0 55px 0 10px;
    display: flex;
    line-height: 0px;
    position: relative;
}



a.lg-wishlist-container span.lg-wish-icon {
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    display: inline-block;
    width: 17px;
    height: 22px;
    background-position: -315px -187px;
    margin: 8px 0 0;
    position: absolute;
    bottom: 14px;
    left: 13px;
}


a.lg-wishlist-container span.lg-wish-text {
    color: #000;
    position: absolute;
    bottom: 4px;
    left: 1px;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    padding-top: 10px;
    line-height: 6px;
}

a.lg-nav-bag-container {
    display: flex;
    margin: 0 50px 0 15px;
    position: relative;
}

a.lg-nav-bag-container span.lg-bag-icon {
    margin: 8px 0 0;
    position: absolute;
    bottom: 14px;
    left: -1px;
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    display: inline-block;
    width: 22px;
    height: 22px;
    background-position: -341px -56px;
}

a.lg-nav-bag-container span.lg-bag-text {
    color: #000;
    position: absolute;
    bottom: 4px;
    left: 1px;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    padding-top: 10px;
    line-height: 6px;
}

main.content-wrapper {
    max-width: 1600px;
    margin: 81px auto 0;
}

.filter-headers {

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

div.filter-headers div.filter-content {
    vertical-align: top;
    padding: 20px 0 0;


}

div.filter-content ul.content {
    font-size: 14px;
    overflow: hidden;
    display: inline-block;
    margin: 0 0 0 25px;
    vertical-align: top;

}

ul.content li {
    font-size: 14px;

    display: inline-block;
    margin-right: 2px;
    text-transform: capitalize;
    line-height: 1;
    overflow: hidden;
}

ul.content li a {
    color: #282c3f;
    text-transform: capitalize;
}

ul.content li a span {
    color: #282c3f;
    /* margin-left: -5px; */

}

ul.content li::after {
    font-size: 14px;
    content: "/";
    margin-left: 5px;
    color: #282c3f;
}

ul.content li:last-child::after {
    content: '';

}

.lg-bold {
    font-size: 14px;
    font-weight: 700;
}

div.lg-title-container {
    margin: 10px 0 5px 25px;
    display: flex;
    align-items: center;
    max-width: 1000px;
    overflow: hidden;
}

div.lg-title-container h1.lg-title {
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #282c3f;
    max-width: 400px;
    text-transform: capitalize;
    display: inline-block;
    font-size: 16px;
}

div.lg-title-container span.lg-result-count {
    color: #878b94;
    white-space: pre-wrap;
    display: inline-block;
    font-size: 16px;
}

div.lg-result-wrapper div.lg-left-filters {
    min-width: 252px;
    max-width: 252px;
    align-self: flex-start;
    -webkit-box-orient: vertical;
}

div.lg-left-filters aside.lg-left-filters-column {
    padding-top: 23px;
}

aside.lg-left-filters-column .lg-filter-wrappers {
    padding-bottom: 15px;
    padding-left: 25px;
    border-bottom: 1px solid #e9e9ed;
    position: relative;
}

.lg-filter-wrappers span.lg-filter-text {
    text-transform: uppercase;
    font-weight: 700;
}

div.lg-category.lg-filter-wrappers {
    padding-top: 20px;
    border-right: 1px solid #edebef;
    font-size: 14px;
}

div.lg-filter-wrappers ul.lg-filter {
    /* margin-top: 18px; */
    position: relative;
}

li.common-list-items {
    margin-bottom: 7px;
    position: relative;
}

label.lg-common-label {
    /* display: block; */
    width: 95%;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 17px;
    color: #282c3f;

}

.common-input-style {
    margin-right: 16px;
    visibility: hidden;
}

.lg-default-checker {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #c3c2c9;
    background: #fff;
    border-radius: 2px;

}

ul.lg-filter li label span.lg-filter-count {
    color: #94969f;
    font-size: 11px;
    margin-left: 4px;
}

div.lg-filter-wrappers ul.lg-filter li:last-child {
    margin-bottom: 0;
    position: relative;
}

.lg-brand-text.lg-filter-text {
    margin-bottom: 18px;
    display: inline-block;
}

div.lg-search-btn {
    position: absolute;
    top: 12px;
    right: 14px;
    width: 30px;
    height: 30px;
    background-color: #f5f5f6;
    border-radius: 50%;
}

div.lg-search-btn span.lg-search-icon {
    display: inline-block;
    position: absolute;
    right: 4px;
    top: 4px;
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    transform: scale(.7);
    cursor: pointer;
    width: 21px;
    height: 21px;
    background-position: -754px 0;
}

.upper {
    text-transform: uppercase;
}

div.lg-more-brand {
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
    color: #ff3f6c;
    margin-left: 27px;
}

div.lg-double-slider-wrapper {
    margin: 12px 0 4px;
}

div.lg-double-slider-wrapper div.lg-double-slider-inner {
    width: 200px;
    margin-right: 16px;
}

div.lg-double-slider-inner div.lg-slider-rail {
    position: relative;
    height: 12px;
    background-color: #fff;
}

div.lg-slider-rail div.lg-slider-rail-bar {
    position: absolute;

    transform: translateY(-50%);
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #d4d5d9;
}

div.lg-slider-rail div.lg-slider-rail-range {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 2px;
    top: 5px;
    background-color: #ff3f6c;
}

div.lg-slider-rail div.lg-slider-button {
    position: absolute;
    top: 0;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #ff3f6c;
    outline: none;
    left: 0;
    transform: translateX(-75%);
}

div.lg-slider-rail div.lg-slider-button div.lg-slider-button-thumb {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
    top: 4px;
    left: 4px;
    position: absolute;

}

div.lg-slider-rail div.lg-slider-button.right-thumb {
    left: 200px;
    transform: translateX(-25%);
}

div.lg-double-slider-inner div.lg-slider-value {
    margin: 10px -4px 0 4px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;

}

span.lg-color-wheel {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5.32px;
    margin-left: 27px;
    vertical-align: top;
    line-height: 16px;
}

.text-black {
    color: #000 !important;
}

.black {

    background-color: rgb(54, 69, 79);
}

.white {
    background-color: rgb(255, 255, 255);
    border: 1px solid #d6d6d6;
}

.blue {
    background-color: rgb(0, 116, 217);
}

.green {

    background-color: rgb(94, 177, 96);
}

.navy {
    background-color: rgb(60, 68, 119);
}

.grey {
    background-color: rgb(159, 168, 171);
}

.red {
    background-color: rgb(211, 75, 86);
}

.hidden {
    display: none;
}

.common-radio-icon {

    position: absolute;
    top: 0;
    left: 0;
}

.lg-checker-radio {
    border-radius: 50%;
}




/* div right portion  */
div.lg-right-results {
    flex: 1 1 0%;
    align-self: flex-start;
}

div.lg-right-results .lg-result-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.lg-result-header section.lg-header-section {
    width: 100%;
    height: 59.8px;
    border-bottom: 1px solid #eaeaec;
    padding-bottom: 15px;
    padding-top: 23px;
}

section.lg-header-section div.lg-sorting-section {
    display: block;
    float: right;
    margin-right: 30px;
    margin-bottom: 0;
    margin-top: -7px;
    position: relative;
    top: -5px;
}

div.lg-sorting-section div.lg-sort-by {
    padding: 9px 14px;
    font-size: 14px;
    color: #282c3f;
    cursor: pointer;
    position: relative;
    width: 255px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #d4d5d9;
}

div.lg-sort-by span.lg-arrow {
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    display: block;
    background-position: -367px -1px;
    width: 15px;
    height: 10px;
    margin-left: 5px;
    margin-top: 5px;
    float: right;
    text-transform: capitalize;
    font-weight: 700;
    color: #282c3f;
}

span.lg-sort-selected {
    font-weight: 700;

}

ul.lg-sort-list {
    width: 255px;
    background-color: #fff;
    position: absolute;
    top: 33px;
    left: -1px;
    margin: 0;
    padding: 16px 0;
    z-index: 2;
    display: none;
    border: 1px solid #d4d5d9;
    border-top: none;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .08);
}

.sort-label {
    display: block;
    font-size: 14px;
    color: #282c3f;
    cursor: pointer;
    padding: 10px 20px;
}

ul.selected-sort-list {
    font-size: 14px;

    display: flex;
    color: #282c3f;
    flex-flow: row wrap;
    margin: -10px 0 0 16px;
}

ul.selected-sort-list li {
    margin: 10px 4px 0 0;
}

ul.selected-sort-list li label {
    position: relative;
    padding: 5px 8px 5px 10px;
    white-space: nowrap;
}

label h4.selected-option {
    font-weight: 400;
    display: inline-block;
}

.lg-sort-arrow {
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-position: -2679px -89px;
    background-size: 1404px 105px;
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    transform: scale(.8);
    margin-left: 1.28px;

}

.lg-result-content-wrapper {
    padding: 24px 20px 0 15px;
}

section.lg-card-items {
    width: 100%;
}

section.lg-card-items ul.lg-card-layout-collection {
    justify-content: space-between;
    margin: 0 -10px 0 3px;
    width: 100%;
}

li.lg-card {
    width: 210px;
    text-align: left;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    display: inline-block;
    margin: 0 10px 30px;

    /* with caution  */
    /* height: 359.8px; */
}

.lg-card-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 210px;
    background-color: #282c3f;
    transition: visibility 0s, opacity .5s linear;
    visibility: hidden;
    opacity: 0;
}

.lg-card-rating-container {
    z-index: 1;
    position: absolute;
    margin-left: 10px;
    margin-top: 250px;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    padding: 0 0 0 4px;
    background-color: hsla(0, 0%, 100%, .8);
    text-align: left;
}

.lg-rating {
    font-weight: 700;
    font-size: 12px;
    text-align: left;
}

.lg-star {
    margin-left: -2px;
    transform: scale(0.55);
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-position: -171px -28px;
    width: 24px;
    height: 24px;
    background-size: 1404px 105px;
    display: inline-block;

}

.lg-rating-count {
    display: flex;
    padding-right: 4px;

}

.lg-seperator {
    margin: -0.5px 6px 0 -2px;
    font-size: 10px;

}

.lg-card-watermark {
    position: absolute;
    background-color: #a9abb3;
    border-radius: 2px;
    top: 9px;
    right: 10px;
    padding: 0 2px;
    font-size: 10px;
    color: #ffff;
    z-index: 1;

}

.lg-image-wrapper {
    position: relative;
    height: 210px;
    height: 280px;

}

.lg-image-wrapper img {
    width: 100%;
    height: 100%;

}

.lg-card-text-wrapper {
    margin-top: 12px;
    padding: 0 10px;
    position: relative;
    z-index: 3;
    height: 100%;
    overflow: hidden;

}

h3.lg-card-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

h4.lg-card-desc {
    color: #535766;
    font-size: 14px;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    white-space: nowrap;
}

.lg-card-price {
    font-size: 14px;
    line-height: 15px;
    color: #282c3f;
    white-space: nowrap;
    margin: 10px 0 6px 0;
    font-weight: 700;
}


.lg-actual-price {
    text-decoration: line-through;
    color: #7e818c;
    font-weight: 400;
    /* margin-left: 2.3px; */
    margin-left: 5px;
    font-size: 12px;
}

.lg-card-discount {
    color: #ff905a;
    font-weight: 400;
    font-size: 12px;
    /* margin-left: 2.3px; */
    margin-left: 5px;
}

div.pagination-section ul.lg-page-bar {
    text-align: center;
    border-top: 1px solid #edebef;
    padding-top: 24px;
    padding-bottom: 60px;
    margin: 16px 0;
}

.lg-pages {
    display: inline-block;
    margin-right: 9px;
    padding: 6px 8px;
    font-weight: 700;

}

.disabled-btn {
    opacity: 0.6;
    pointer-events: none;
}

.lg-curr-page {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 8px;
    margin-right: 8px;

}

.lg-page-double-arrow::before,
.lg-page-double-arrow::after {
    left: 0;
    content: '';
    position: absolute;
    top: 0;
    width: 8px;
    height: 8px;
    border: solid #282c3f;
    border-width: 2px 2px 0 0;
    transform: rotate(224deg);
    box-sizing: border-box;
}

.lg-page-double-arrow::after {
    left: 8px;
}

.prev {
    height: 42px;
    border-radius: 4px;
    border: 1px solid #d4d5d9;
    text-align: center;
    margin-right: 64px;
    padding: 10px 22px;
}

.lg-page-single-arrow {
    transform: rotate(224deg);
    margin-left: 2px;
    margin-right: 8px;
    width: 8px;
    height: 8px;
    border: solid #282c3f;
    border-width: 2px 2px 0 0;
    margin-bottom: 1px;

}

.page-count {
    color: #535766;
    margin-top: 6px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: normal;

}

.next {
    margin-left: 64px;
    margin-right: 9px;
    font-weight: 700;
}

.lg-right-arrow {
    border: solid #282c3f;
    border-width: 2px 2px 0 0;
    margin: 0 2px 1px 8px;
    transform: rotate(45deg);
    width: 8px;
    height: 8px;
}

footer.lg-footer {
    background-color: #fafbfc;
}

div.lg-footer-wrapper {
    padding: 30px 0 40px 0;
    position: relative;

    max-width: 1080px;
    min-width: 980px;
    margin: 0 auto;
}

.lg-footer-section-1 {
    padding: 20px 0 60px 0;
    color: #535766;
    text-align: justify;
}

.lg-footer-price-category {
    font-size: 12px;
    float: right;
    padding-left: 30px;
    max-width: 380px;
    box-sizing: content-box;
}

.lg-footer-title {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    color: #696b79;
    margin: 30px 0 -10px 0;
}

table.lg-price-table {
    margin-top: 40px;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    box-sizing: content-box;
}

th {
    color: #535766;
}

tr {
    box-sizing: content-box;
}

.lg-last-up-date {
    font-style: italic;
    padding: 10px 0 0 6px;
    font-weight: 600;
    color: #535766;
}

.lg-footer-desc {
    font-size: 14px;
    line-height: 1.5;
    margin: 20px 0;
    width: 61%;
    color: #7e818c;
    box-sizing: content-box;
}

.lg-footer-desc p {
    margin: 14px 0;
}

.lg-footer-desc p:first-child {
    margin-top: 0;
}

.lg-desc-header-mini {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #696b79 !important;

}

div.lg-footer-desc p {
    color: rgb(126, 129, 140);
}

.sp {
    font-weight: 700;
    color: #7e818c;
}

.prop-header {
    margin-bottom: -10px;
    margin-top: 30px;
}

li.spf-li {
    list-style-type: disc;
    color: #7e818c;

}

em {
    color: #696b79;

}

.spf-color {
    color: #7e818c;
}

.extra-size {
    font-size: 16.38px;

}

iframe {
    height: 315px;
    width: 560px;
}

.lg-footer-section-2 {
    margin-bottom: 24px;
    overflow: hidden;
}

div.lg-common-link {
    float: left;
    width: 155px;
    vertical-align: top;
    padding-right: 20px;
    box-sizing: content-box;

}

div.lg-cust-policy {
    width: 15%;
    float: left;
}

div.lg-experience {
    width: 360px;
    font-size: 15px;
    line-height: 19px;
    padding-top: 13px;
    box-sizing: content-box;
}

div.lg-assure {
    width: 250px;
    float: left;
}

.lg-common-link-header {
    margin: 12px 0;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;

}

.lg-common-link-items {
    color: #696b79;
    display: block;
    font-size: 15px;
    padding-bottom: 5px;
    line-height: normal;
}

.extra-padding {
    padding-top: 14px;
}

.spf-p {
    margin: -3px 0 0;
    padding: 0 0 25px;

}

.lg-keep-touch {
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 700;
    margin-top: 20px;
}

div.lg-assure-org {
    margin: 15px 0 30px 0;
    color: #696b79;
}

.lg-assure-icon {
    float: left;
    margin-left: -10px;
    margin-right: 10px;
    width: 47.5px;
    height: 40px;
}

.lg-assure-text {

    color: #696b79;
}

.lg-assure-text strong {
    font-weight: 700;

}

.lg-border-line {
    border: 1px;
    height: 1px;
    box-sizing: content-box;
    background-color: #eaeaec;
    margin: 8px 0;
}

.lg-footer-popular {
    position: absolute;
    margin-top: -15px;
    background: #fafbfc;
    padding-right: 10px;
    color: #282c3f;
    font-size: 12px;
    font-weight: 700;
}

.lg-footer-search-links {
    margin-top: 30px;
    box-sizing: content-box;
}

.lg-footer-search-link {
    color: #696b79;
    font-size: 15px;
    line-height: 25px;
}

.lg-footer-search-link::after {
    content: '|';
    margin-left: 3px;

}

.lg-last-link:after {
    content: "";
}

.lg-footer-section-4 {
    margin-top: 40px;
    display: flex;
}

.lg-concern {
    flex: 1;
    color: #696b79;

}

.lg-blue-text {
    font-weight: 700;
    color: #526cd0;
}

.lg-copy {
    flex: 1;
    color: #94969f;
    margin-left: 100px;
}

.lg-owner {
    flex: 1;
    text-align: end;
    color: #94969f;
}

.bold {
    font-weight: 700;
}

.sub-bold {
    font-weight: 400;
    font-size: 12px;
}

.text-large {
    font-size: 16px;
}

.normal-line {
    line-height: normal;
}

.inline-block {
    display: inline-block;
}

@media screen and (max-width:768px) {

    /* @font-face {
            font-family: Assistant;
            src: url(//constant.myntassets.com/www/fonts/Assistant-Regular.woff2) format('woff2'), url(//constant.myntassets.com/www/fonts/Assistant-Regular.woff) format('woff'), url(//constant.myntassets.com/www/fonts/Assistant-Regular.ttf) format('truetype');
            font-weight: 400;
            font-style: normal;
            font-display: swap
        }
    
        @font-face {
            font-family: Assistant;
            src: url(//constant.myntassets.com/www/fonts/Assistant-Bold.woff2) format('woff2'), url(//constant.myntassets.com/www/fonts/Assistant-Bold.woff) format('woff'), url(//constant.myntassets.com/www/fonts/Assistant-Bold.ttf) format('truetype');
            font-weight: 700;
            font-style: normal;
            font-display: swap
        }
    
        @font-face {
            font-family: Assistant-Bold;
            src: url(//constant.myntassets.com/www/fonts/Assistant-Bold.woff2) format('woff2'), url(//constant.myntassets.com/www/fonts/Assistant-Bold.woff) format('woff'), url(//constant.myntassets.com/www/fonts/Assistant-Bold.ttf) format('truetype');
            font-weight: 700;
            font-style: normal;
            font-display: swap
        } */
    main.content-wrapper {
        display: none;
    }

    footer.lg-footer {
        display: none;
    }

    header.lg-header {
        display: none;
    }

    * {
        font-size: 13px;
        line-height: 1.42857143;
        color: #424553;
    }

    nav.sm-nav {
        position: fixed;
        background-color: #fff;
        width: 100%;
        box-shadow: 0 1px 2px 0 rgba(148, 150, 159, .3);
        z-index: 10;

    }

    /* common style  */
    .sm-common-header-style {
        display: inline-block;
        vertical-align: top;
        width: 24px;
        height: 24px;
        margin: 16px;
    }





    .sm-nav-back svg,
    .sm-logo-style {
        color: #282c3f;
    }

    .sm-logo-div {
        margin-left: 0;
        /* float: right; */
        /* modification  */
        margin-left: -3px;
    }

    .sm-nav-header-title {
        font-size: 16px;
        top: 11px;
        position: relative;
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
        height: auto;
        margin: 0;
        width: calc(100% - 260px);
        text-transform: capitalize;
        /* adjustment  */
        margin-left: -2.2px;

    }

    .sm-nav-right {
        float: right;

    }

    .sm-wish-list {
        /* display: inline-block; */
        position: relative;
        top: 1px;
        /* vertical-align: top; */
        height: 22px;
        margin: 17px 13px 16px 0;
        width: 24px;
    }

    .sm-search-logo,
    .sm-fav-list,
    .sm-shop-cart {
        vertical-align: unset;
        margin-left: 0;
        /* adjustment */
        margin-right: 13.6px;
    }

    .sm-shop-cart {
        /* adjustment */
        margin-right: 16px;
    }

    .sm-filters-div {
        position: fixed;
        bottom: 0;
        background-color: #fff;
        width: 100%;
        border-top: 1px solid #eaeaec;
        z-index: 10;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .sm-sort {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .sm-sort-text {
        position: relative;
        overflow: hidden;
    }

    .sm-sort-btn {
        width: 100%;
        height: 50px;
        padding: 14px 0 14px 28px;
        font-size: 14px;
        letter-spacing: .9px;
        color: #535766;
        border-color: transparent;
        background-color: #fff;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        text-transform: uppercase;
        white-space: nowrap;
        outline: 0;
        border-radius: 4px;
    }

    .sm-sort-btn svg {
        top: 16px;
        left: 10%;
        width: 16px;
        height: 16px;
        position: absolute;
    }

    .sm-seperator {
        border-left: 1px solid #eaeaec !important;
        width: 1px;
        height: 22px;
        z-index: 10;
    }

    .sm-banner-div {
        padding: 68px 6px 12px;
        background-image: linear-gradient(90deg, #bd6da6, #d799cb);
        width: 100%;
        /* display: flex;
        align-items: center;
        justify-content: center; */
        display: table;
        table-layout: fixed;
    }

    .sm-banner-wrapper {
        text-align: center;
        display: table-cell;
    }

    .sm-banner-text {
        font-size: 12px;
        text-align: center;
        color: #fff;
    }

    .sm-card-wrapper {
        clear: both;
        overflow: hidden;
    }

    ul.sm-card-wrapper {
        clear: both;
    }

    ul.sm-card-wrapper li.sm-card-item:nth-child(even) {
        border-right: none;
    }

    ul.sm-card-wrapper li.sm-card-item:nth-child(odd) {
        clear: left;
    }

    .sm-card-item {
        /* clear: left; */
        border: .5px solid #d4d5d9;
        float: left;
        width: 50%;
        margin: 0;
        overflow: hidden;
        border-left: 0;
    }

    .sm-card-content-wrapper {
        position: relative;
        text-align: center;
    }

    .sm-image-container {
        height: 255px;
        position: relative;
        background-color: rgb(255, 242, 223);
    }

    .sm-image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .sm-rating-div {
        position: absolute;
        height: 18px;
        margin: -28px 0 0 11px;
        border: 1px solid #eaeaec;
        border-radius: 2px;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 2px 5px;
        border-radius: 9px;
    }

    .sm-rating-text {
        font-size: 10px;
    }

    i.star {
        background-image: url(https://constant.myntassets.com/pwa/assets/img/2bce8a2b-e1d5-465a-8980-62f3d778377c1548353615799-Fill-90-Copy-7.png);
        background-size: cover;
        position: relative;
        margin: 0 6px 0 4px;
        font-size: 9px;
        padding: 3px;

    }

    .sm-hyphen {
        color: rgb(148, 150, 159);
    }

    .sm-rating-count {
        font-size: 10px;
        font-weight: 700;
        margin-left: 5px;
    }

    .sm-ad-container {
        background-color: #a9abb3;
        border-radius: 2px;
        position: absolute;
        top: 8px;
        right: 10px;
        padding: 0 2px;
        font-size: 10px;
        color: #fff;
    }

    .sm-content-text-wrapper {
        position: relative;

    }

    .sm-text-wrapper {
        padding: 8px 0;
        font-size: 12px;
    }

    .sm-card-title {
        padding-left: 8px;
        line-height: 1.57;
        text-align: left;
        color: #282c3f;
        font-size: 13px;
        width: 85%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .sm-card-desc {
        opacity: .6;
        padding-left: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 180px;
        margin: 0;
        font-size: 11px;
        font-weight: 400;
        text-align: left;
        color: #282c3f;
        height: 12px;
        line-height: 1.1;
    }

    .sm-price-container {
        margin-top: -1px;
        padding-left: 6px;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .sm-offer-price {
        color: #282c3f;
        font-size: 13px;
    }

    .sm-offer-price svg {
        position: relative;
        top: 4px;
        /* adjustment */
        margin-right: -2.4px;
    }

    .sm-price {
        position: relative;
        left: -2px;
        color: #282c3f;
    }

    .sm-actual-price {
        opacity: .4;
        color: #282c3f;
        text-decoration: line-through;
        font-size: 13px;
    }

    .sm-actual-price svg {
        position: relative;
        top: 1px;
    }

    .sm-discount {
        color: #ff905a !important;
        font-size: 11px;
        white-space: nowrap;
    }

    .sm-card-empty-div {
        color: #ff5722;
        font-size: 12px;
        font-weight: 700;
        min-height: 17px;
        text-align: left;
        margin-left: 8px;
    }

    .sm-add-to-cart {
        color: #282c3f;
        display: inline-block;
        position: absolute;
        bottom: 43px;
        right: 0;
        top: 2px;
        padding-top: 4px;
        padding-left: 15px;
        height: 38px;
    }



    .sm-footer-header {
        padding: 10px 18px 90px 18px;
        color: #3e4152;
        ;
    }
    .sm-footer-header::after,.sm-footer-header::before{
        content: ' ';
        display: table;
        clear: both;
    }
  

    .sm-footer-header-text {
        line-height: 24px;
        font-size: 13px;
        text-align: left;
        white-space: nowrap;
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 85%;
    }

    .sm-footer-header svg {
        float: right;
        overflow: hidden;
        margin-top: 2px;
    }

    .sm-footer-middle {
        padding: 20px;
        padding-bottom: 30px;
        background: #f5f5f6;
    }

    .sm-footer-links {
        line-height: 1.7;
        font-size: 15px;
        color: #696b79;

    }

    .sm-useful-link {
        text-align: left;
        line-height: 1.7;
        color: #3e4152;
        font-size: 13px;
    }

    .sm-useful-link::after {
        content: "|";
        color: #3e4152;
        margin: 10px 5px;
    }

    .sm-useful-link-header {
        display: block;
        font-size: 15px !important;
        color: #282c3f !important;
    }

    .sm-useful-link-header::after {
        content: '';
    }

    .sm-footer-links a:last-child::after {
        content: '';
        /* color: red !important; */
    }

    .sm-customer-link-header {
        line-height: 1.1;
        padding: 10px 0;
        margin-top: 10px;
    }

    .sm-copy {
        font-size: 9px;
        margin: 20px 0 0;
    }

    .sm-copy span {
        color: #94969f;
        font-size: 9px;
    }

    .sm-copy span:last-child {
        float: right;
    }

    .sm-footer-table {
        padding: 0 20px 60px 20px;
        background: #f5f5f6;
        font-size: 11px;
    }

    .sm-footer-table-header {
        font-size: 17px;
        margin-bottom: 9px;
        line-height: 1.1;
    }

    .sm-footer-table-wrapper table {
        border-collapse: collapse;
    }

    .sm-footer-table-wrapper table tr th,
    .sm-footer-table-wrapper table tr td {
        color: #424553;
        padding: 1px 10px 1px 1px;
        font-size: 11px;
        vertical-align: top;
        box-sizing: border-box;
    }

    .sm-footer-table-wrapper table tr td:last-child {
        white-space: nowrap;
    }
}